<h1><%= @db_credential.name %></h1>

<p><%= @db_credential.host %></p>
<p><%= @db_credential.location %></p>
<p><%= @db_credential.user %></p>
<p><%= @db_credential.password %></p>
<p><%= @db_credential.db_type.name %></p>


<a href="<%= db_cred_index_path %>">GO BACK</a>
